<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>OneList.fm – Your Music, Everywhere</title>

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<script src="angular-spotify.min.js"></script>

		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.js"></script>

		<script src="https://code.jquery.com/jquery.min.js"></script>

		<link href="main.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="main.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="MainController">

		<header>
			<div class="header">
				<p id="pageName">OneList.fm
					<span id="logout" ng-show="userId">
						<button ng-click="logOut()">log out</button>
					</span>
				</p>
			</div>
		</header>

		<div class="container" id="login">
			<!-- if no userid, onboard user -->
			<form name="myForm" novalidate ng-show="!userId">
				<div class="form-group">
					<label>Username:</label>
					<input name="username" class="form-control" ng-minlength="6" ng-model="username">

					<!-- error for short username -->
					<p ng-show="myForm.username.$error.minlength" class="help-block">Sorry, username must be longer than 6 characters</p>
				</div>

				<!-- hillary's emails -->
				<div class="form-group">
					<label>Email:</label>
					<input name="email" type="email" class="form-control" ng-model="email"></input>

					<!-- error for bad email -->
					<p ng-show="myForm.email.$error.email" class="help-block">There's something wrong with the email you provided!</p>
				</div>

				<!-- Password -->
				<div class="form-group">
					<label>Password:</label>
					<input  name="password" type="password" class="form-control" ng-model="password" required></input>
				</div>

				<div class="form-group">
					<button ng-click="signUp()" ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">sign up</button>

					<button ng-click="signIn()" ng-disabled="myForm.email.$invalid || myForm.password.$invalid" type="submit" class="btn btn-primary">sign in</button>
				</div>
			</form>

				<!-- user's onelist -->
				<div class="col-md-6" ng-show="userId">
					<h1>Your OneList</h1>
					<div ng-repeat="list in lists" class="onelist">
							<div ng-show="clicked">
								<div>
									<ul>
										<li ng-repeat="song in songs" title="{{song.name}}"  data-toggle="tooltip">{{song.artists[0].name + ' – ' + song.name}}</li>
									</ul>
								</div>
								<!-- search -->
								<form name="songForm">
									<div class="form-group">
										<input class="form-control" name="search" placeholder="add song. for best results, include both song name and artist name." ng-model="$parent.track"></input>
									</div>

									<div class="form-group">
										<button class="btn btn-primary" ng-disabled="searchForm.search.$invalid" ng-click="search()" type="submit"><i class="fa fa-search"></i></button>
									</div>

								</form>

								<div class="container">
									<ul>
										<li class="results" ng-repeat="track in tracks" title="{{track.name}}"><i class="fa fa-plus-square" ng-click="addSong($scope.songId, track)"></i>
											<span class="artist">{{track.artists[0].name}}</span> – <span class="song">{{track.name}}</span></li>
									</ul>

								</div>

							</div>

					</div>
				</div>

				<div class="col-md-6" id="player">
						<iframe src="{{songId}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
				</div>

			</div>
		</div>

	</body>
</html>
