@import url(https://fonts.googleapis.com/css?family=Inconsolata:400);

body {
  font-family: 'Inconsolata', Input Mono, Menlo, monospace;
  color:white;

  background-color: black;
}

h1 {
  font-size: 1.5em;
}

.results {
  list-style: none;
  text-indent: none;
}
